<h2 = >Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class><%= f.label :name, :class=>"control-group"%>
    <div><%= f.text_field :name, :class=>"controls"%></div>
  </div>
  <div><%= f.label :email, :class=>"control-group" %>
    <div><%= f.email_field :email, :class=>"controls" %></div>
  </div>
  <div><%= f.label :password, :class=>"control-group" %>
    <div><%= f.password_field :password, :class=>"controls"  %></div>
  </div>
  <div><%= f.label :password_confirmation, :class=>"control-group" %>
    <div><%= f.password_field :password_confirmation %></div>
  </div>
  <div><%= f.submit "Sign Up", :class=>"btn" %></div>
<% end %>


<%= render :partial => "devise/shared/links" %>
