<h1></h1>

	<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
	<div class="container">
	<ul class="nav">
	<li><a class="brand"> <%= link_to 'Home', root_path %> </a></li>
	        
	<% if user_signed_in? %>
			<li><a href="#">
			Welcome <%= current_user.name %>! | 
			<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
			</a></li>
			<form class="navbar-search pull-right">
			<input type = "text" class = "search-query" placeholder="What Should I 3D Print?"> 
			</form>
	<% else %>
			<li class><a href="#"><%= link_to 'Log in', new_user_session_path %></a></li>
			<li><a href="#"><%= link_to 'Sign up ', new_user_registration_path%></a></li>
	<% end %>
	
	</div>
	</div>
	</div>
