<div class="navbar navbar-fixed-top">  
	<div class="navbar-inner">  
		<div class="container">  
		<a class="brand" href="/">CADTOHAND</a>
			<ul class="nav pull-right">
<% if user_signed_in? %>
	<div class="btn-group">
  		<a class="btn btn-primary" href="#"><i class="icon-user"></i> <%= current_user.name %></a>
  		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    	<span class="icon-caret-down"></span></a> 
		<ul class="dropdown-menu">
			<li><a href="#">View My Profile</a></li>
			<li class="divider"></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
		</ul>
	</div>
  <% else %>
  <li><%= link_to 'Log in', new_user_session_path %></li>
  <li><%= link_to 'Sign up ', new_user_registration_path%></li>
<% end %>
</ul>  

<ul class="nav">  
<%= form_tag('/search', :class=>"navbar-search pull-left") do %>
          <%= text_field_tag :query, nil, :class=>"search-query", :placeholder => "What do you want to print?" %>
         
          <%= submit_tag 'Search', :class=> "btn-primary"%>
<% end %>
</div>  
</div>  
</div>  